NODE_ENV=

BASE_URL=http://localhost:3000
PORT=

DB_TYPE=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

ROOT_PASSWORD=


JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=


ERROR_SENDER_BOT=
ERROR_SENDER_GROUP_ID=

